<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="true"
         colors="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         requireCoverageMetadata="false"
         bootstrap="src/Tests/bootstrap.php"
>
    <testsuites>
    <testsuite name="Unit tests">
      <directory>src/Tests/Unit/</directory>
    </testsuite>
  </testsuites>
</phpunit>
